.formulario{
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    background: #ffff;
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;

    border-radius: 10px;
}

.inputs{
    display: block;
    margin: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%; 
    border-left: 15px;
    border-right: 15px; 
    font-weight: bold;
    color: #ff8c00;
}

.inputs form input[type='submit']:hover{
    text-align: center;
    border-radius: 5px;
    content: 55%;
}

input.text{
    border-radius: 50px;
    border-top: 15px;
    border-bottom: 15px;
    padding: 25px;
}

#label_nombre_comun, #label_pregunta, .label_form{
    display: none;
}

.enlaces{
    font-size: 100%;
    padding-bottom: 3%;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 36%;
    padding-right: 36%;
}

.inputs-form {
    border-radius: 10px;
    font-size: 100%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px #ff8c00;
    background-color: #fcf3e8;
    overflow-y: scroll;
}

.inputs-f{
    border-radius: 10px;
    font-size: 100%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px #ff8c00;
    background-color: #fcf3e8;
    overflow-y: scroll;
}

.file-form{
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 17px;
}

textarea:focus, input:focus, input[type]:focus, select[type]:focus, select:focus{
    border: #ff8c00;
    border-color: #ff8c00;
    box-shadow: 0 1px 1px #e95f0313 inset, 0 0 8px #ff9100;
    outline: 0 none;
}

.submit {
    font-size: 120%;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    background: #ff8c00;
    border-color: #ff8c00;
    color: #ffff;
}

.next-form {
    font-size: 120%;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    background: #f5f4f4;
    border-color: #ff8c00;
    color: #ff8c00;
}

.select-form{
    color: rgb(121, 120, 120);
    width: 48%;
    font-size: 90%;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    background-color: #fcf3e8;
    border-color: #fcf3e8; 
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.inputs form .inputs-form::-webkit-scrollbar{
    width: 7px;
}

.inputs form .inputs-form::-webkit-scrollbar-thumb{
    background: #ff8c00;
}

@media only screen and (max-width: 420px) {
    .enlace{
        padding-left: 16%;
        padding-right: 16%;
    }
}

@media only screen and (max-width: 340px) {
    .select-form{
        width: 47%;
    }
    .inputs-f{
        width: 45%;
    }
}    