.containerGalery{
    width: 100%;
    max-width: 1240px;
    box-shadow: #e9e6e6d3;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containerGalery h2{
    font-size: 150%;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    margin-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    color: #ff8c00;
}

.containerGalery .imageGalery{
    background: #fcf3e8;
    width: 20%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 2%;
    transition: all 0.25s;
   /* overflow-y: scroll; */
}

.containerGalery .imageGalery img{
    width: 100%;
    height: auto;
}