* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    box-shadow: #ff8c00;
  }

  body {
    width: 100%;
    background: #ffffff;
    justify-content: center;
  }
  
  header{
    width: 100%;
    height: auto;
    background-color: #ff8c00;
  }

  nav {
    margin-left: 5%;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  ul{
    text-align: left;
    list-style: none;
    width: 100%;
  }

  li a {
    text-align: center;
    float: left;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: #ff8c00;
    font-size: 20px;
    width: 15%;
    margin-right: 5%;
  }

  li a:hover{
    text-decoration: none;
    background-color: #f7bb77ee ;
  }

  h1{
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    color: #ff8c00;
    font-size: 27px;
  }

  h2, h3{
    text-align: left;
    color: #ff8c00;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  p{
    font-size: 20px;
    text-align: justify;
  }

  .seccion{
    width: 39%;
    margin-left: 5%;
  }

  .sec{
    display: flex;
  }

  .seccion img{
    border-radius: 150px;
    width: 49%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
  }

@media only screen and (max-width:929px) {
  li a{
    font-size: 20px;
    width: 20%;
  }

  h1{
    font-size: 25px;
  }
}

@media only screen and (max-width:696px) {
  li a{
    font-size: 18px;
    width: 25%;
  }

  h1{
    font-size: 22px;
  }
}

@media only screen and (max-width:557px) {
  li a{
    font-size: 16px;
    width: 30%;
  }

  h1{
    font-size: 22px;
  }

  h2, h3, p{
    font-size: 20px;
  }
}

@media only screen and (max-width:426px) {
  li a{
    font-size: 16px;
    width: 35%;
  }

  h1{
    font-size: 20px;
  }

  h2, h3, p{
    font-size: 18px;
  }
}

@media only screen and (max-width:329px) {
  li a{
    font-size: 16px;
    width: 45%;
  }

  h1{
    font-size: 18px;
  }

  h2, h3, p{
    font-size: 17px;
  }
}

