* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  box-shadow: #ff8c00;
}

body {
  width: 100%;
  background: #ffffff;
  justify-content: center;
}

.formulario img {
  width: 30%;
  margin-top: 2%;
  padding: 1%;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.container h2 {
  font-size: 150%;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  margin-top: 2%;
  color: #ff8c00;
}

#qrcodeimg {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
  display: none;
}

#registrar {
  text-align: center;
}

.logo {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2%;
  padding: 20%;
  width: 100%;
  border-radius: 100px;
}
li .item-options{
  border: 1px;
  border-color: #fcf3e8;
}

.etiqueta {
  color: #0000008a;
  font-size: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
  font-weight: normal;
}

@media only screen and (max-width: 1350px) {
  .formulario {
    box-shadow: none;
    background: none;
  }

  .container {
    padding: 1%;
  }

  .item-options {
    display: none;
  }

  #item-menu {
    display: block;
  }
}
