.content{
    width: 100%;
    max-width: 1240px;
    box-shadow: #e9e6e6d3;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

 h2{
    font-size: 150%;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    margin-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    color: #ff8c00;
}

.buscador{
    border-radius: 10px;
    font-size: 100%;
    padding: 10px;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    margin-left: 4%;/*15px*/
    width: 35%;/*30*/
    border: 1px #ff8c00;
    background-color: #fcf3e8;
}

input:focus, input[type]:focus{
    border: #ff8c00;
    border-color: #ff8c00;
    box-shadow: 0 1px 1px #e95f0313 inset, 0 0 8px #ff9100;
    outline: 0 none;
}

.card, .cards{
    background: #fcf3e8;
    border-radius: 10px;
    overflow: hidden;
    margin: 2%;
    transition: all 0.25s;
}

.card{
    width: 25%;
    height: 300px;
    overflow-y: scroll;
}

.cards{
    padding: 3px;
    width: 23%;
    height: 230px;
    /*overflow-x: scroll;*/
}

.card:hover, .cards:hover{
    transform: translate(15px);
}

.content .card h3{
    margin: 1%;
    font-weight: 600;
    text-align: center;
    color: #ff8c00;
}

p{
    margin: 1%; 
    font-size: 100%;
    font-weight: normal;
    text-align: justify;
}
.content .card p{
    padding: 1px 1rem;
}

.content .cards p{
    padding: 1px 1rem;
}

p strong{
    color:#ff8c00;
}

.accionesPreguntas, .accionesEspecies, .accionesUsuarios, .accionesAceptarUsuarios{
    width: 100%;
    display: block;
    margin-top: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 1%;
}

.accionesUsuarios a, .accionesAceptarUsuarios a, .accionesPreguntas a, .accionesEspecies a{
    border-radius: 4px;
    text-decoration: none;
    margin: 1%;
    width: 33%;
    height: 100%;
    vertical-align: middle;
}

.accionesUsuarios a{
    padding: 1.5px 35%;
}

.accionesAceptarUsuarios a{
    padding: 0.5px 5%;
}

.accionesPreguntas a{
    padding: 0px 1rem;
}

.accionesEspecies a{
    margin: 0.5%;
    padding: 0px 0.7rem;
}

.accionesUsuarios a img, .accionesAceptarUsuarios a img, .accionesPreguntas a img{
    border-radius: 2px;
    margin: 5px;
    padding: 3px;
    width: 35px;
    height: auto;
    background: #fa9e2d;
}

.accionesEspecies a img{
    border-radius: 2px;
    margin: 3px;
    padding: 3px;
    width: 35px;
    height: auto;
    background: #fa9e2d;
}

.content .cards::-webkit-scrollbar, .content .card::-webkit-scrollbar{
    height: 7px;
}
.content .cards::-webkit-scrollbar-thumb, .content .card::-webkit-scrollbar-thumb{
    background: #ff8c00;
}

.content .card::-webkit-scrollbar{
    width: 7px;
}

@media only screen and (max-width:1207px) {
    .card{
        width: 35%;
    }

    .cards{
        width: 24%;
    }

    .card h3, .cards h3{
        font-size: 105%;
    }

    .card p, .cards p{
        font-size: 100%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 4px;
    }
   
    .accionesEspecies a{
        margin: 0.3%;
        padding: 0px 0.7rem;
    }
    
    .accionesEspecies a img, .accionesPreguntas a img, .accionesAceptarUsuarios a img, .accionesUsuarios a img{
        width: 25px;
    }
}

@media only screen and (max-width:843px) {
    .buscador{
        width: 35%;
        font-size: 95%;
    }

    .card{
        width: 30%;
    }

    .cards{
        width: 27%;
    }

    .card h3, .cards h3{
        font-size: 100%;
    }

    .card p, .cards p{
        font-size: 95%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 4px;
    }
   
    .accionesEspecies a{
        margin: 0.2%;
        padding: 0px 0.6rem;
    }
    .accionesPreguntas a{
        padding: 0px 0.9rem;
    }

    .accionesEspecies a img, .accionesPreguntas a img, .accionesUsuarios a img{
        width: 24px;
    }
}

@media only screen and (max-width:776px) {
    .buscador{
        width: 40%;
        font-size: 100%;
    }

    .card{
        width: 30%;
    }

    .cards{
        width: 27%;
    }

    .card h3, .cards h3{
        font-size: 105%;
    }

    .card p, .cards p{
        font-size: 100%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 4px;
    }
   
    .accionesEspecies a{
        margin: 0.1%;
        padding: 0px 0.4rem;
    }

    .accionesPreguntas a{
        padding: 0px 0.6rem;
    }
    
    .accionesEspecies a img, .accionesPreguntas a img, .accionesAceptarUsuarios a img, .accionesUsuarios a img{
        width: 24px;
    }
}

@media only screen and (max-width:693px) {
    .buscador{
        width: 50%;
        font-size: 95%;
    }

    .card{
        width: 45%;
    }

    .cards{
        width: 28%;
    }

    .card h3, .cards h3{
        font-size: 100%;
    }

    .card p, .cards p{
        font-size: 95%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 10px;
    }
   
    .accionesEspecies a{
        margin: 0.1%;
        padding: 0px 0.2rem;
    }
    
    .accionesPreguntas a{
        padding: 0px 0.4rem;
    }

    .accionesEspecies a img, .accionesPreguntas a img{
        width: 23px;
    }
}

@media only screen and (max-width:572px) {
    .buscador{
        width: 55%;
        font-size: 85%;
    }

    .card{
        width: 50%;
    }

    .cards{
        width: 30%;
    }

    .card h3, .cards h3{
        font-size: 90%;
    }

    .card p, .cards p{
        font-size: 85%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 10px;
    }
   
    .accionesEspecies a{
        margin: 0.1%;
        padding: 0px 0.1rem;
    }
    
    .accionesEspecies a img, .accionesAceptarUsuarios a img{
        width: 20px;
    }

    .content .cards::-webkit-scrollbar, .content .card::-webkit-scrollbar{
        height: 3px;
        width: 5px;
    }
}

@media only screen and (max-width:428px) {
    .buscador{
        width: 65%;
        font-size: 85%;
    }
    .card{
        width: 45%;
    }

    .cards{
        width: 36%;
    }

    .card h3, .cards h3{
        font-size: 90%;
    }

    .card p, .cards p{
        font-size: 85%;
    }

    .content .card:hover{
        transform: translate(7px);
    }
    
    .accionesEspecies{
        margin: 10px;
    }
   
    .accionesEspecies a{
        margin: 0%;
        padding: 0px 0.07rem;
    }
    
    .accionesPreguntas a{
        padding: 0px 0.2rem;
    }
    
    .accionesAceptarUsuarios a{
        padding: 0.5px 4%;
    }
    
    .accionesEspecies a img, .accionesPreguntas a img{
        width: 15px;
    }

    .content .cards::-webkit-scrollbar, .content .card::-webkit-scrollbar{
        height: 3px;
        width: 4px;
    }
}